@model ProjetPfa.ModelView.AdminSignInVM
@{
    Layout = null;
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription Prestataire </title>
    <link rel="stylesheet" href="~/css/Form.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>



<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">


                    <img src="~/assets/images/BBB.jpg" alt="">

                </div>
                <div class="signup-form">
                    <form method="post" asp-controller="SignIn_Admin" asp-action="Show" class="register-form" id="register-form">

                        <h1 class="title-hero-19">Connexion Admin :</h1>
                        <div asp-validation-summary="All" class="text-danger"></div> <!-- Résumé des erreurs -->


                        <div class="form-group">
                            <label for="email">E-mail :</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="mdp">Mot de passe :</label>
                            <input asp-for="Mdp" type="password" class="form-control" />
                            <span asp-validation-for="Mdp" class="text-danger"></span>
                        </div>

                        <div class="form-submit">

                            <input type="submit" value="Soumettre" class="submit" name="submit" id="submit" />
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>s

</html>

